footer {
    background-color: var(--pico-color-orange-900);
    color: var(--pico-color-orange-50);
    border-top: 2px solid var(--pico-color-orange);
    padding: 1rem;
    text-align: center;
}
article h3 {
    color:var(--pico-color-orange-550)
}