.menu-checkbox {
    display: none;
}

.menu-label {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
    color: var(--pico-color-orange-100);
}

.social-butts a {
    display: inline;
    color: var(--pico-color-orange-500);
}

.social-butts a:hover {
    color: var(--pico-color-orange-300);
}
/* меню скрыто */
.topmenu {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--pico-color-orange-200);
    border-bottom: 2px solid var(--pico-color-orange-600);
}

[data-theme="dark"] .topmenu {
    background-color: #0d1015;
}

/* подчёркивание каждого раздела */
.topmenu li {
    border-bottom: 1px solid var(--pico-color-orange-700);
    padding: 0.5rem 1rem;
}

.topmenu li:last-child {
    border-bottom: none;
}

[data-theme="dark"] .topmenu li {
    border-bottom: 1px solid #869ec8 ;
    padding: 0.5rem 1rem;
}

[data-theme="dark"] .topmenu li:last-child {
    border-bottom: none;
}

/* открыть меню */
.menu-checkbox:checked + .menu-label + .topmenu {
    display: flex;
}

/* ПК версия */
@media screen and (min-width: 900px) {

    .menu-label {
        display: none;
    }

    .menu ul {
        flex-flow: row;
        flex-grow: 1;
    }

    .topmenu {
        display: flex !important;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        justify-content: flex-end;
    }
    /* на ПК убираем подчёркивание между пунктами */
    .topmenu li {
        border-bottom: none;
        border-left: 1px solid var(--pico-color-orange-700);
        padding: 0.5rem 1rem;
    }

    .topmenu li:first-child {
        border-left: none;
    }

    .menu:first-child li {
        padding-right: 3rem;
    }

    .menu:first-child strong {
        width: 100%;
        color: var(--pico-color-orange-500);
    }
    

     [data-theme="dark"] .menu-label {
        display: none;
    }

    [data-theme="dark"] .menu ul {
        flex-flow: row;
        flex-grow: 1;
    }

    [data-theme="dark"]  .topmenu {
        display: flex !important;
        flex-direction: row;
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        justify-content: flex-end;
    }

    [data-theme="dark"]  .topmenu li {
        border-bottom: none;
        border-left: 1px solid #869ec8;
        padding: 0.5rem 1rem;
    }

    [data-theme="dark"]  .topmenu li:first-child {
        border-left: none;
    }

    [data-theme="dark"]  .menu:first-child li {
        padding-right: 3rem;
    }

    [data-theme="dark"]  .menu:first-child strong {
        width: 100%;
        color: #869ec8;
    }
    [data-theme="dark"] ul.topmenu{
        border-bottom: 2px solid #869ec8;
    }
}



.bosslogo img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-top: 8px;

}

/* FIX СОЦИАЛЬНЫХ ИКОНОК */
.social-butts img {
    width: 1px;
    height: 1px;
    object-fit: contain;
    vertical-align: middle;
    transition: 0.2s ease;
}

.social-butts img:hover {
    transform: scale(1.15);
}

/* FIX ЛОГО В НАВБАРЕ (чтобы не ломалось на мобилке) */
.menu li img {
    height: 18px;
    width: auto;
    max-width: 100%;
}

.topmenu img,
.social-butts img {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(2000%) hue-rotate(5deg);
}

[data-theme="dark"] .topmenu img,
[data-theme="dark"] .social-butts img {
    filter: brightness(0) invert(1);
}

.logo img {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(2000%) hue-rotate(5deg);
}

[data-theme="dark"] .logo img {
    filter: brightness(0) invert(1);
}


